body
{
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
	font-family: Arial, sans-serif;
}
hr
{
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
}
.header
{
	background-image: url(header.png);	
	padding-right: 500px;
	color: white;
	content: "";
  	display: table;
    clear: both;
    padding-left: 30px;

}

.header-name
{	 float: right;
  	width: 50%;
  	 text-align: left; 
  	 font-size: 30px; 	 
}
.header-contact
{
	 float: left;
  	 width: 100%;;
  	 text-align: center;
  	 font-size: 25px;
  	 text-decoration: underline;
}
.header-image
{
	 float: left;
  	 width: 30%;
  	 text-align: left;
     
}
.data
{
	padding-right: 500px;
	content: "";
  	display: table;
    clear: both;
    padding-left: 30px;
    background-color: #E8E9EB;
	border-style: solid; 
	border-color: gray;
	border-width: 1px; 
}

.data-data
{
	 margin-top: -30px;
	 float: left;
  	 width: 33.33%;
  	 text-align: left; 
  	 width: 265px;
}

.data h1
{
	text-decoration: underline;
	font-size: 40px;
	color:#152238;
}

.data-data h2
{
	
	font-size: 25px;
}

.data-data p
{

	font-size: 18px;
}

.summary
{
	 margin-top: -30px;
	 float: left;
  	 width: 50%;
  	 text-align: left; 
  	 background-color: #AAAAAA;
  	 padding-right: 500px;
     padding-left: 30px;
 }

.summary h1
{
	text-decoration: underline;
	font-size: 40px;
	color:#152238
}

.summaryh2
{
	
	font-size: 25px;
}

.summary p
{

	font-size: 18px;
}


